# mandatory
bcrypt==4.0.1
colorama==0.4.6
cryptography==38.0.3
darkdetect==0.7.1
email-validator==1.3.0
phonenumbers==8.13.0
Pillow==9.3.0
psutil==5.9.4
pyfiglet==0.8.post1
requests==2.28.1
tkcalendar==1.6.1
ttkthemes==3.2.2

# optional
Babel==2.11.0
black==22.10.0
isort==5.10.1
pyinstaller==5.6.2

# test modules
# ttkwidgets==0.12.1

# optional-2
# customtkinter==4.5.10
# pynput==1.7.6
# pywhatkit==5.4
# tendo==0.2.15
# word2number==1.1
# virtualenv==20.16.7
